name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes e gerar coverage
        run: |
          cd $GITHUB_WORKSPACE/devops-playground-api
          python -m pytest --cov=. --cov-report=xml

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          projectBaseDir: .
          sonarToken: ${{ secrets.SONAR_TOKEN }}
          hostUrl: ${{ secrets.SONAR_HOST_URL }}

      - name: Build da imagem Docker
        run: docker build -t devops-playground-api .